<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>按事件分类查找登录记录</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'sheet.css') }}">
</head>
<body>

<div>
    <h4>按用户名查找登录记录</h4>

    <form action="/by_user_query/" method="POST">
        <p>
            <label for="username"> 用户名：</label>
            <input type="text" id=username name=username value="root"/>

            <input type="submit" value="查询"/>
        </p>
    </form>

    <table border="1" class=table11_6 width="30%">
        <thead>
        <tr>
            <th>id</th>
            <th>type</th>
            <th>username</th>
            <th>s_ip</th>
            <th>s_port</th>
            <th>d_ip</th>
            <th>d_port</th>
            <th>time</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>{{ result[0]}}</td>
            <td nowrap>{{ result[1]}}</td>
            <td>{{ result[2]}}</td>
            <td>{{ result[3]}}</td>
            <td>{{ result[4]}}</td>
            <td>{{ result[5]}}</td>
            <td>{{ result[6]}}</td>
            <td nowrap>{{ result[7]}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>