<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史登录记录查看</title>
</head>
<body>
<div>
    <h4>查询数据</h4>

    <form action="http://localhost:5000/histories_query/" method="POST">
        <p>
            <label for="date_begin"> 日期：</label>
            <input type="text" id=date_begin name=date_begin value="11-01-2014"/>

            <label for="time_begin"> 起始时间：</label>
            <input type="text" id="time_begin" name=time_begin value="09:00:00"/>

            <label for="date_end"> 日期：</label>
            <input type="text" id=date_end name=date_end value="12-01-2014"/>

            <label for="time_end"> 截止时间：</label>
            <input type="text" id="time_end" name=time_end value="19:00:00"/>

            <input type="submit" value="查询"/>
        </p>
    </form>

    <table border="1" width="30%">
        <thead>
        <tr>
            <th>id</th>
            <th>type</th>
            <th>username</th>
            <th>s_ip</th>
            <th>s_port</th>
            <th>d_ip</th>
            <th>d_port</th>
            <th>time</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>{{ result[0]}}</td>
            <td nowrap>{{ result[1]}}</td>
            <td>{{ result[2]}}</td>
            <td>{{ result[3]}}</td>
            <td>{{ result[4]}}</td>
            <td>{{ result[5]}}</td>
            <td>{{ result[6]}}</td>
            <td nowrap>{{ result[7]}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>