<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志分析系统</title>
</head>
<body>
<div class="related" role="application" aria-label="functions">
    <h3>功能</h3>
    <ul>
        <li>
            <a href="/by_date/" title="by_date"
            >按登录时间查找登录记录</a>
        </li>

        <li>
            <a href="/by_login_event/" title="by_login_event"
            >按事件分类查找登录记录</a>
        </li>

        <li>
            <a href="/by_user/" title="by_user"
            >按用户名查找登录记录</a>
        </li>
    </ul>
</div>
</body>
</html>