<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志分析系统</title>
</head>
<body>
<div class="related" role="application" aria-label="functions">
    <h3>功能</h3>
    <ul>
        <li>
            <a href="/histories/" title="histories"
            >历史登录记录</a>
        </li>

        <li>
            <a href="/login_failed/" title="login_failed"
            >失败登录记录</a>
        </li>

        <li>
            <a href="/root_login/" title="root_login"
            >root用户登录记录</a>
        </li>
    </ul>
</div>
</body>
</html>